<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sota Yukari</title>
    <link type="text/css" rel="stylesheet" href="/static/app.css">
</head>
<body>
<h1>Sota Yukari</h1>

<section>
    <h2>音声認識→発声</h2>
    <div>
        <textarea name="w" id="w"></textarea>
    </div>
    <div>
        <button id="rek">音声認識開始</button>
        <button id="say" class="say">Sota発声</button>
    </div>

    <h2>音声認識＆発声</h2>
    <div>
        <button id="reksay" class="say">音声認識＆発声</button>
    </div>
</section>

<script src="/static/app.js"></script>
</body>
</html>